:root {
  /* clolor */
  --white-color: #ffff;
  --black-color: #030303;
  --background-color: #363d4e;
  --point-color: #b588dd;
  --light-color: #b589de;
  --font-color: #9499a6;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

.main {
  width: 100%;
  text-align: center;
  display: flex;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  border-radius: 5px;

}

.content-left {
  padding: 20px;
  background-color: #e0dede;
  border-radius: 5px;

}

.content-left input {
  width: 90px;
  font-size: 25px;
  color: var(--point-color);
  text-align: center;
}

.content-left select {
  font-size: 25px;
  color: var(--point-color);
  text-align: center;
}

.content-left button {
  border: none;
  color: var(--background-color);
  background-color: #e0dede;
}

.day-of-the-week {
  display: inline;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
}

th {
  padding: 10px;
  color: #9fa4b3;
  text-transform: uppercase;
}

td {
  font-size: 40px;
  font-weight: lighter;
  color: var(--point-color);
  border: 0.5px solid #999;
  padding: 15px;
  text-align: center;
}

.content-left td:hover {
  background-color: #b589de;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
  -moz-box-shadow: 0 6px 6px -6px #0E1119;
  box-shadow: 0 6px 6px -6px #0E1119;
  color: var(--white-color);
}

.content-right {
  color: var(--point-color);
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  padding: 20px;
}

.input-box {
  width: 70%;
  padding: 5px 5px 5px 5px;
  border: 5px;
  border-radius: 2px;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-data {
  cursor: pointer;
  font-size: 10px;
  color: var(--white-color);
  background-color: var(--background-color);
  border-radius: 5px;
  margin: 5px;
  padding: 5px 5px 5px 5px;
}

.input-data:hover {
  background: var(--point-color);
  color: #0b0809;
}

.input-list {
  list-style: none;
}